<div id="footer" class="site-footer mt-3">
	<div class="mt-3">
		<div class="row d-flex">

			<div class="col-sm-6">
				<p><strong>{{ site.title }}</strong></p>

				<ul class="list-unstyled list-inline">

					<li class="list-inline-item">
						<a href="https://ajou.ac.kr/en">
							<img class="img-fluid" src="/assets/images/ajou2.png" style="max-height: 90px;">
						</a>
					</li>
				</ul>
			</div>

			
			<div class="col-sm-6">
				<p><strong>Contact</strong></p>
                                <span class="footer">
                                        gchnkang at gmail dot com<br>
                                        206 World Cup-ro, Yeongtong-gu, Suwon-si,<br>
                                        Gyeonggi-do, 16499, Republic of Korea
                                </span>  			
                        </div>
		</div>

		<div class="footer-copyright text-center pb-3">
			<span class="footer">© 2026 {{ site.author }} | Department of Software and Computer Engineering, Ajou University</span>
		</div>
	</div>
</div>
