<div id="read-more-button">
  <a id="read-more-trigger">Full List</a>
</div>


<script>
function setupReadMore(selector, threshold) {
  const items = document.querySelectorAll(selector);
  if (!items || items.length === 0) return;

  items.forEach((li, idx) => {
    if (idx >= threshold) li.style.display = 'none';
  });

  document.getElementById('read-more-trigger').addEventListener('click', () => {
    items.forEach(li => li.style.display = 'list-item');
    document.getElementById('read-more-button').style.display = 'none';
  });
}
setupReadMore('#news-list li', 5);
setupReadMore('#pub-list li', 5);
</script>

<style>
#read-more-button {
  display: flex;
  justify-content: center;
  margin-top: -90px;
  padding-top: 80px;
  height: 110px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 1.0)
  );
  position: relative;
  z-index: 2;
}

#read-more-button a {
  cursor: pointer;
}
</style>

