<a id="read-more-trigger-{{ include.id }}"
   class="read-more-btn-pub"
   href="/publications">
  (Full List)
</a>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const sectionId = '{{ include.id }}';

  const list = document.getElementById(sectionId);
  if (!list || list.tagName !== 'UL') return;

  const items = list.querySelectorAll('li');
  if (!items.length) return;

  const threshold = {{ include.threshold | default: 5 }};

  // 처음 5개만 보이게
  items.forEach((li, idx) => {
    if (idx >= threshold) li.style.display = 'none';
  });
});
</script>
