<style>
    .custom-list {
        font-size: 18px; 
    }
    .img {
        width: 100% !important;
        height: 100%;
        max-height: 450px !important;
    }
    .div{
        max-width: 400px; 
        max-height: 450px;/* Set a maximum width for the container on larger screens */
        margin-right: 10px;
        float: left;
    }
</style>

<li class="media mb-1">
    <div class="media-body">
        <p>
            <div><strong>{{ publi.Title }}</strong></div>
            <div>{{ publi.Author }}</div>
            <div class="text-red">
                <strong>
                    {{ publi["Journal"] }}
                    {% if publi.Presentation %}
                        ({{ publi["Presentation"] }})
                    {% endif %} 
                </strong>
            </div>
            
            <!-- Project Page & DOI buttons on same line -->
            {% if publi.PAGE or publi.DOI %}
                <p style="margin-top:10px;">
                    {% if publi.PAGE %}
                        <a href="{{publi.PAGE}}" class="btn btn-sm btn-outline-primary">Project Page</a>
                    {% endif %}
                    {% if publi.DOI %}
                        <a href="{{publi.DOI}}" class="btn btn-sm btn-outline-primary">Paper</a>
                    {% endif %}
                    {% if publi.CODE %}
                        <a href="{{publi.CODE}}" class="btn btn-sm btn-outline-primary">Code</a>
                    {% endif %}
                </p>
            {% endif %} 
        </p>
    </div>
</li>
<hr>
<div style="clear: both;"></div> <!-- Add this to clear the float -->
<script>
const allPTags = document.querySelectorAll("p");

allPTags.forEach((elem) => {
    if (elem.innerText === "" && elem.childNodes.length === 1 && elem.childNodes[0].tagName === "IMG") {
        elem.parentNode.insertBefore(elem.childNodes[0], elem);
        elem.remove();
    }
});
</script>
