<style>
    .custom-list {
        font-size: 18px; 
    }
    .img {
        width: 100% !important;
        height: 100%;
        max-height: 450px !important;
    }
    .div{
        max-width: 400px; 
        max-height: 450px;/* Set a maximum width for the container on larger screens */
        margin-right: 10px;
        float: left;
    }
</style>

<li class="media mb-1">
    <div class="media-body">
        <p>
            <!-- Preview Image or Gif -->
            {% if publi.Preview %}
            <div class="div"> 
               <img src="/assets/images/{{ publi.Preview }}" alt="Manifold Learning" class="img"></img>
            </div>
            {% endif %}

            <div><strong>"{{ publi.Title }}"</strong></div>
            <div>{{ publi.Author }}</div>
            <div><em>{{ publi["Journal"] }}</em></div>
            <div>{{ publi["Publication Year"] | to_integer }}</div>

            <!-- DOI -->
            {% if publi.DOI %}
                <p><a href="https://doi.org/{{publi.DOI}}" class="btn btn-outline-primary" style="margin-top:10px;">PAPER</a></p>
            {% endif %}
        </p>

    </div>
</li>
<hr>
<div style="clear: both;"></div> <!-- Add this to clear the float -->
<script>
const allPTags = document.querySelectorAll("p");

allPTags.forEach((elem) => {
    if (elem.innerText === "" && elem.childNodes.length === 1 && elem.childNodes[0].tagName === "IMG") {
        elem.parentNode.insertBefore(elem.childNodes[0], elem);
        elem.remove();
    }
});
</script>
