{%- assign person = member | default: page -%}

<ul class="list-inline list-unstyled">
    {% if person.social.cv %}
    <li class="list-inline-item"><a target="blank" href="{{person.social.cv}}"><i class="ai ai-cv"></i></a></li>
    {% endif %} 
    <!-- Personal Website -->
    {% if person.social.website %}
    <li class="list-inline-item"><a target="blank" href="{{person.social.website}}"><i class="fas fa-globe"></i></a></li>
    {% endif %}
    <!-- Linkedin -->
    {% if person.social.linkedin %}
    <li class="list-inline-item"><a target="blank" href="{{person.social.linkedin}}"><i class="fab fa-linkedin"></i></a></li>
    {% endif %}
    <!-- Github -->
    {% if person.social.github %}
    <li class="list-inline-item"><a target="blank" href="{{person.social.github}}"><i class="fab fa-github"></i></a></li>
    {% endif %}
    <!-- Google Scholar -->
    {% if person.social.google-scholar %}
    <li class="list-inline-item"><a target="blank" href="{{person.social.google-scholar}}"><i class="ai ai-google-scholar"></i></a></li>
    {% endif %}
    <!-- Twitter -->
    {% if person.social.twitter %}
    <li class="list-inline-item"><a target="blank" href="{{person.social.twitter}}"><i class="fab fa-twitter"></i></a></li>
    {% endif %}
</ul>
