---
---
/* Google Fonts 불러오기 */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

@import "bootstrap";
@import "fontawesome";

.navbar .nav-link {
    font-size: 1.2rem;
}

.navbar-light {
    border-bottom: none !important;
}

.navbar .navbar-brand { 
    font-size: 2.4rem; 
    font-weight: 700;
}

.text-red {
    color: #9A2617 !important;
}

span.u {
  border-bottom: 2px solid #808080;
  padding-bottom: 1px;
}

span.footer {
  color: #808080;
  margin: 5px 0;
  font-size: 14px;
}
