---
---

@import "bootstrap";
@import "fontawesome";

.navbar .nav-link {
    font-size: 1.2rem;
    font-weight: 500;
}

.navbar .navbar-brand { 
    font-size: 1.2rem; 
}

.text-red {
    color: #9A2617 !important;
}
