---
---
/* Google Fonts 불러오기 */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

@import "bootstrap";
@import "fontawesome";

.navbar .nav-link {
    font-size: 1.2rem;
}

.navbar-light {
    border-bottom: none !important;
}

.navbar .navbar-brand { 
    font-size: 2.4rem; 
    font-weight: 700;
}

.text-red {
    color: #9A2617 !important;
}

.profile-row > .col-md-4 {
  padding-right: 0px;
}

.profile-row > .col-md-6 {
  padding-left: 0px;
}

.section-header {
  display: flex;
  align-items: baseline;
}

.section-header .read-more-btn-pub {
  margin-left: 10px;
}

@media (max-width: 575.98px) {
  .profile-img {
    margin-bottom: 15px;
    margin-left: 0px;
  }
}

span.u {
  border-bottom: 2px solid #808080;
  padding-bottom: 1px;
}

.footer {
  margin: 5px 0;
  text-align: center;
}

.footer-text {
  font-size: 14px;
  color: #808080;
  margin-bottom: 5px;
}

.footer-logo {
  display: block;
}


#read-more-button {
  text-align: center;
  margin-top: -90px;
  padding-top: 80px;
  height: 110px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1.0));
  position: relative;
  z-index: 2;
}

#read-more-button>a {
  cursor: pointer;
}
