---
---
/* Google Fonts 불러오기 */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

@import "bootstrap";
@import "fontawesome";

.navbar .nav-link {
    font-size: 1.2rem;
}

.navbar .navbar-brand { 
    font-size: 1.8rem; 
}

.text-red {
    color: #9A2617 !important;
}
