---
layout: default
---
<style>
    .nobullet{
        list-style-type: none;
    }
    .list {
     list-style:disc outside none;
     display:list-item; 
     }
</style>
<h3 class="mb-3"><a id="staff"></a>General Inquiries</h3>
<div class="container mt-4 mb-3">
For general inquiries, please reach out to Prof. Kang via e-mail (<a href="mailto:gckang@ajou.ac.kr">gckang@ajou.ac.kr</a>).
</div>

<h3 class="mb-3"><a id="staff"></a>Open Positions</h3>

<div class="container mt-4 mb-3">
    
{{ content }}
</div>



