---
layout: default
---
<style>
    .nobullet{
        list-style-type: none;
    }
    .list {
     list-style:disc outside none;
     display:list-item; 
     }
</style>
<h3 class="mb-3"><a id="staff"></a>General Inquires</h3>
<div class="container mt-4 ml-4">
<p>For general questions regarding lab, please directly reach out to Prof. Kang</p>
    <ul class="nobullet">
        <li class="">
            <i class="fas fa-envelope mr-2"> </i> Email: <a href="mailto:gchnkang@gmail.com"> gchnkang@gmail.com</a>
        </li>
    </ul>
</div>
<h3 class="mb-3"><a id="staff"></a>Open Positions</h3>

<div class="container mt-2 ml-1">
    
{{ content }}
</div>



