---
layout: default
---

<style>
	.margintop{
		margin-top:-20px;
	}
</style>

<div>
	<!--<img class="img-cover mb-3" src="/assets/images/u9326.jpg" style="max-height:200px;">-->
	<div class="text-center mb-3"> {{ content }} </div>
</div>

<script>
  const carousel = document.getElementById('videoCarousel');
  const videos = carousel.querySelectorAll('video');

  if (videos[0]) videos[0].play();

  $('#videoCarousel').on('slide.bs.carousel', function (event) {
    videos.forEach(v => {
      v.pause();
      v.currentTime = 0;
    });

    const nextVideo = $(event.relatedTarget).find('video')[0];
    if (nextVideo) nextVideo.play();
  });
</script>
