---
layout: default
---


<div class="row mt-5 mb-5 profile-row">
    <div class="col-md-4 col-sm-6 col-12">
        <img src="/assets/images/team/{{ page.image }}" class="profile-img"
             style="max-width: 240px; max-height: 240px; object-fit: contain;"
             alt="{{page.title}}">
    </div>
    <div class="col-md-8 col-sm-6 col-12 profile-info">
        <h5 class="mt-0"><a href="{{ page.url }}">{{ page.title }}</a></h5>
        <p>
            {{page.role}}<br>
            {{page.affiliation}}<br>
            <a target="_blank" href="mailto:{{page.email}}">{{page.email}}</a>
        </p>
        {%- include team_member_social.html member=page -%}
    </div>
</div>


<!-- Education -->
{% if page.education %}
<div>
    <h3 >Education</h3>
    <dl class="ml-3" >
        {% for education in page.education %}
            <dt style="font-size: 20px;">{{ education.institution }} <span style="float:right;">{{ education.year }}</span></dt>
            <dd class="ml-3" style="font-size: 17px; ">{{ education.degree }} </dd>
        {% endfor %}
    </dl>
</div>
{% endif %}

{% if content %}
  <div class="text-start">
     {{ content }}
  </div>
{% endif %}
