---
layout: default
---

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white px-0">
        <li class="breadcrumb-item"><a href="/team">Team</a></li>
        <li class="breadcrumb-item text-capitalize"><a href="/team#{{ page.category }}">{{ page.category }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
</nav>

<li class="media mt-5">
    <img class="align-self-center mr-3"
         src="/assets/images/team/{{ page.image }}"
         style="max-width: 230px; max-height: 230px; object-fit: contain;"
         alt="{{page.title}}">

    <div class="media-body">
      <h5 class="mt-0"><a href="{{ page.url }}">{{ page.title }}</a></h5>
      <p>{{page.role}}<br>{{page.email}}</p>
      {% include team_member_social.html member=page %}
    </div>
</li>

<!-- Education -->
{% if page.education %}
<div>
    <h3 >Education</h3>
    <dl class="ml-3" >
        {% for education in page.education %}
            <dt style="font-size: 20px;">{{ education.institution }} <span style="float:right;">{{ education.year }}</span></dt>
            <dd class="ml-3" style="font-size: 17px; ">{{ education.degree }} </dd>
        {% endfor %}
    </dl>
</div>
{% endif %}

{% if content %}
  <div>
     {{ content }}
  </div>
{% endif %}
